@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Hedvig+Letters+Serif:opsz@12..24&family=Inter&family=Poppins:ital,wght@1,200&family=Preahvihear&family=Roboto&family=Russo+One&display=swap');
   body{
   background-color: rgb(255, 243, 227);
}
nav{
   display: block;
margin: auto;
 box-sizing: border-box;
 box-shadow: 0  0 015px #000;
  background-color: #000;
   height: 30px;

}
li{
   display: inline;
   margin: 0%;
   padding: 8%;
}

a{
   color: azure;
}
.card{
    box-sizing: border-box;
     box-shadow: 0 0  015px #000;
width: 10%;
 height: 250px;
   margin-top: 5%;
    border-radius: 10px;
}

p{
   margin: auto;
   margin-top: 12%;
   margin-left: 4%;
}

img{
   zoom: 20%;
border-radius: 10px;
  margin-left: 20%;
}
.fa-shopping-cart{
    display: inline;
     float: right;
 border: none;
   margin-top: 10%;
height: 25px;
background-color: rgb(174, 122, 17);
  border-radius: 20px;
    color: azure;
  margin-right: 4%;
}

.card-1{
    display: block;
    box-sizing: border-box;
    box-shadow: 0 0 015px #000;
  width: 10%;
   height: 250px;
    border-radius: 10px;
 margin-left: 15%;
   margin-top: -17%;
}

h1{
    text-align: center;
      box-shadow: 0  0 015px;
        background-color: #000;
      color: aliceblue;
 border: none;
   border-radius: 10px;

}
  
.card-2{
   box-shadow: 0 0  015px #000;
    width: 10%;
height: 250px;
   border-radius: 10px;
    margin-left: 30%;
margin-top: -16%;
}

.card-3{
   display: block;
     box-shadow: 0 0 015px #000;
     height: 260px;
   width: 150px;
margin-top: 5%;
  margin-left: 47%;
   margin-top: -16%;
   border-radius: 10px
  
}
button{
   float: right;
   margin-top: -15%;
    border: none;
height: 20px;
  width: 30px;
border-radius: 10px;
 background-color: #00000036;
  color: azure;
}
input{
    display: block;
     margin: auto;
  border: none;
  margin-top: 5%;
    border-radius: 10px;
    text-align: center;
}

h2{
   display: block;
    margin: auto;
   text-decoration: overline;
     text-overflow: inherit;
      text-align: center;
      margin-left: 5%;
margin-top: 5%;
}
  .card-4{
     display: block;
      margin: auto;
   box-sizing: border-box;
         box-shadow: 0 0 015px #030202;
   width: 350px;
    height: 260px;
    margin-top: 6%;
      border-radius: 10px;
  }
  
  .card-5{
   box-sizing: border-box;
     box-shadow: 0 0  015px #000;
   width: 350px;
    height: 260px;
 border-radius: 10px;
     background: linear-gradient(320deg,#000,#d51f1f,#0befe0,#d938f2);
     margin-top: -23%;
  }

