@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital@1&display=swap');
    body{
       background-color: aliceblue;
}
.card{
    display: block;
     margin: auto;
      box-sizing: border-box;
       box-shadow:  0 0 015px #000;
       width: 270px;
       height: 460px;
        margin-top: 10%;
     background-color: #000;
 border-radius: 10px;
}
nav a{
  text-decoration: none;
}
.fa-gear{
  display: block;
   margin: auto;
      margin-top: 0%;
        border: none;
    border-radius: 90px;
      background-color: #000000;
   color: aliceblue;
    float: right;
   margin-left: 40%;
   width: 45px;
height: 20px;
}
a{
color: aliceblue;
 margin-left: -10%;
margin-top: 2%;
}
.fa-chevron-right{
  color: rgb(169, 43, 8);
}

button{
    width: 210px;
     height: 40px;
      border: none;
       border-radius: 10px;
       background-color: #6391e69e;
   color: aliceblue;
    display: block;
     margin: auto;
     margin-top: 1%;
      font-weight: 600;
}
.fa-box{
     color: #ffffff;
} 
i{
  color: rgb(241, 248, 255)
}
.fa-chevron-right{
   float: right;
 text-decoration: none;

}
 .fa-caret-left{
    text-decoration: none;
  margin: 0%;
     zoom: 116%;
}

.fa-stop{
text-decoration: none;
 padding: 250%;
}
li{
display: inline-block;
   padding: 2%;
      margin: 0%;
}

h5{
  display: inline;
    padding: 0%;
   margin: 2%;
  color: aliceblue;
float: right;
  font-weight: 600;
}
 h4{
  display: inline;
  padding: 0%;
    margin: 0%;
color: aliceblue;
  margin-left: -10%;
   font-weight: 600;
}
.menu-phone{
   display: block;
  margin: 70px;
}
.mnu-phone a{
    display: inline;
    color: #ffffff;
  text-decoration: none;
}
.menu-phone ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-phone li{
   text-align: center;
padding: 10px;
}
.fa-circle{
    display: inline;
     padding: 0%;
      margin: 0%;
   text-decoration: none;
   background-color: #fff7f7;
   border-radius: 50px;
    margin-left: 90% ;
}
.btn1{
     border: none;
    border-radius: 50px;
    text-decoration: none;
  color: #200606;
}
.btn1 i{
    display: block;
  margin: auto;
}
.btn1 a{
     color: #fffbfb;
      text-decoration: none;
      float: right;
      margin-top: -42%;
  margin-right: -40%;
}
